{{- $theme := site.Data.plugin_favicons_params }}
{{- $plugin := site.Data.plugin_favicons.params }}
{{- $theme_color := ($theme.ThemeColor | default $plugin.ThemeColor) | default "#FFFFFF" }}
{{- $touch_icon := $theme.Apple.TouchIcon | default $plugin.Apple.TouchIcon }}
{{- $safari_pinned_tab := $theme.Apple.SafariPinnedTab | default $plugin.Apple.SafariPinnedTab }}
{{- $favicon_32 := $theme.Favicon.x32 | default $plugin.Favicon.x32 }}
{{- $favicon_16 := $theme.Favicon.x16 | default $plugin.Favicon.x16 }}
{{- $favicon_ico := $theme.Favicon.ico | default $plugin.Favicon.ico }}
{{- $manifest := $theme.AndroidChrome.Webmanifest | default $plugin.AndroidChrome.Webmanifest }}
{{- $browser_config := $theme.MSTile.BrowserConfig | default $plugin.MSTile.BrowserConfig }}
{{- $mstile_color := $theme.MSTile.TileColor | default $plugin.MSTile.TileColor }}


{{- with $touch_icon }}<link rel="apple-touch-icon" sizes="180x180" href="{{ . }}" />{{ end }}
{{ with $favicon_32 }}<link rel="icon" type="image/png" sizes="32x32" href="{{ . }}" />{{ end }}
{{ with $favicon_16 }}<link rel="icon" type="image/png" sizes="16x16" href="{{ . }}" />{{ end }}
{{ with $favicon_ico }}<link rel="shortcut icon" href="data:image/x-icon;base64,{{ . }}" />{{ end }}
{{ with $manifest }}<link rel="manifest" href="{{ . }}" />{{ end }}
{{ with $safari_pinned_tab }}<link rel="mask-icon" href="{{ . }}" color="{{ $theme_color }}" />{{ end }}
{{ with $mstile_color }}<meta name="msapplication-TileColor" content="{{ . }}">{{ end }}
{{ with $browser_config }}<meta name="msapplication-config" content="{{ . }}">{{ end }}
{{ with $theme_color }}<meta name="theme-color" content="{{ . }}">{{ end }}